&.mini {
  font-size: 0.6rem;
  padding: 0.2rem 0.625rem;
  height: 1.4rem;
  line-height: 0rem;
}

&.small {
  font-size: 0.7rem;
  padding: 0 0.625rem;
  height: 1.7rem;
  line-height: 1.5rem;
}

&.large {
  height: 2.55rem;
  font-size: 1.05rem;
  line-height: 2.55rem;
}
