body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.shft {
  @import "./components/vars";
  @import "./components/common/widths";
  @import "./components/common/states";
  @import "./components/shft-container/shft-container";
  @import "./components/shft-button/shft-button";
  @import "./components/shft-card/shft-card";
  @import "./components/shft-checkbox/shft-checkbox";
  @import "./components/shft-dropdown/shft-dropdown";
  @import "./components/shft-flex/shft-flex";
  @import "./components/shft-input/shft-textbox";
  @import "./components/shft-radio/shft-radio";
  @import "./components/shft-slider/shft-slider";
  @import "./components/shft-tabs/shft-tabs";
  @import "./components/shft-window/shft-window";
}
